__pycache__/
*/__pycache__/
tasks/qa_feedback/*/__pycache__/

*.egg-info/
wandb/

tasks/qa_feedback/data/COMP_sequence
tasks/qa_feedback/data/F-ERR_sentence
tasks/qa_feedback/data/NF-ERR_subsentence
tasks/qa_feedback/model_outputs
tasks/qa_feedback/reward_modeling

tasks/qa_feedback/data/*.json
tasks/qa_feedback/data/get*.py

tasks/qa_feedback/training/historic_configs


sft/run_llama_sft_notebook.py

archive_log/

historic_record/

reward_modeling/

fgrlhf/*.log
fgrlhf/*.o*
fgrlhf/*.e*
fgrlhf/offload/
fgrlhf/try_*

artifacts/

try_*
extract_*
inspect_*

setting*

requirements-*

*.log
*.o*
*.e*
tasks/qa_feedback/training/train*.sh
tasks/qa_feedback/inference/constrained_decoding*.sh
tasks/qa_feedback/inference/generate_best_n*.sh

*.pbs

*private.py
